{% extends "base.html" %}


{% load i18n %}


{% block title %}
<title>Sign Out?</title>
{% endblock %}


{% block active_logout %}
active
{% endblock %}

{% block aria_logout %}
aria-current="page" id="active-green"
{% endblock %}


<!-- Header Image -->
{% block header %}
<header>
    {% load static %}
    <img class="img-fluid header-image" src="{% static 'media/site_imgs/food-background.png' %}" alt="food background">
</header>
{% endblock %}


{% block content %}
    <div class="container text-white">
        <div class="row">
            <div class="col-md-8 mt-3 mb-3 offset-md-2 text-center">

                <h1 class="green-text mb-3">{% trans "Sign Out" %}</h1>

                <p class="text-white">{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-warning">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
