{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block active_signup %}
active
{% endblock %}

{% block aria_signup %}
aria-current="page" id="active-green"
{% endblock %}


<!-- Header Image -->
{% block header %}
<header>
    {% load static %}
    <img class="img-fluid header-image" src="{% static 'media/site_imgs/food-background.png' %}" alt="food background">
</header>
{% endblock %}


{% block content %}
<div class="container text-white">
    <div class="row">
        <div class="col mt-3 mb-5 text-center">

            <h3 class="green-text mb-3">{% trans "Sign Up" %}</h3>

            <p class="text-white mb-5">{% blocktrans %}Already have an account? Then please <a class="green-text" href="{{ login_url }}">sign
                    in</a>.{% endblocktrans %}</p>

            <form class="signup text-white" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-warning" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
