{% extends 'base.html' %}


<!-- Page Title -->
{% block title %}
<title>Student Rations - About</title>
{% endblock %}


<!-- Navbar Active Link -->
{% block active_about %}
active
{% endblock %}


<!-- aria-current Attribute for active nav link -->
{% block aria_about %}
aria-current="page" id="active-green"
{% endblock %}


<!-- Header Image -->
{% block header %}
<header>
    {% load static %}
    <img class="img-fluid header-image" src="{% static 'media/site_imgs/food-background.png' %}" alt="food background">
</header>
{% endblock %}


<!-- Main Content -->
{% block content %}
    <h1 class="text-center mt-3 mb-4 green-text">Who are we?</h1>

    <div class="container text-center text-light">
        <div class="row">
            <div class="col-12 mx-auto mt-3">
                <p>At Student Rations, our mission is to change the way that students eat while they're at university. We provide recipes and
                    resources to help get more students into the kitchen.</p>
            </div>
            <div class="col-10 mx-auto mt-3 mb-5">
                <h3 class="green-text">Our Story</h3>
                <p>Started by a student at Code Institute in 2022, Student Rations has since grown into one of the worlds
                    leading student recipe websites. We want to show students how easy it is to cook an amazing meal with
                    fresh ingredients. Our recipes are designed to be easy to follow, quick to make and cost-effective.
                    We also encourage our members to share their recipes for others to try.</p>
            </div>
        </div>
    </div>
{% endblock %}
