{% extends 'base.html' %}

{% block title %}
<title>Add Your Recipe</title>
{% endblock %}

{% block content %}
<div class="container text-light">
    <div class="row">
        <div class="col">
        <h1 class="text-center green-text">Add A Recipe</h1>

        {% load crispy_forms_tags %}

            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <br>
                <h2 class="text-center green-text">Add Ingredients</h2>
                {{ formset.management_form }}
                {% for form in formset %}
                {{ form|crispy }}
                {% endfor %}
                <button class="text-center" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
