{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add Your Recipe</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container text-light">
    <div class="row">
        <div class="col">
            <h1 class="text-center green-text">Add A Recipe</h1>


            {% if user.is_authenticated %}

            <h3>Share a Recipe: </h3>
            <p>Posting as: {{ user.username }}</p>
            <form action="." method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ recipe_form | crispy }}
                        {% csrf_token %}
                    </div>
                </div>
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}
