{% extends 'base.html' %}

{% block title %}
<title>Student Rations - Add Recipe</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <h1>Add A Recipe</h1>

        {% load crispy_forms_tags %}

            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <br>
                <h2>Add Ingredients</h2>
                {{ formset.management_form }}
                {% for form in formset %}
                {{ form|crispy }}
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
