{% extends 'base.html' %}


<!-- Page Title -->
{% block title %}
<title>Student Rations - Home</title>
{% endblock %}


<!-- Navbar Active Link -->
{% block active_home %}
active
{% endblock %}


<!-- aria-current Attribute for active nav link -->
{% block aria_home %}
aria-current="page" id="active-green"
{% endblock %}


<!-- Header Image -->
{% block header %}
<header>
    {% load static %}
    <img class="img-fluid header-image" src="{% static 'media/site_imgs/food-background.png' %}" alt="food background">
</header>
{% endblock %}


<!-- Main Content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col offest-2">
            <!-- User welcome message -->
            {% if user.is_authenticated %}
            <h1 class="text-center text-light mt-3">
                Welcome to Student Rations, <span class="green-text">{{ user.username }}</span>!
            </h1>

            <hr class="text-light">

            <h2 class="text-center padding green-text mb-5 mt-5">What's cooking good looking?</h2>

            {% else %}
            <h1 class="text-center padding green-text mb-5 mt-5">What's cooking good looking?</h1>
            <p class="text-light text-center mb-5">Welcome to Student Rations! To leave a comment or like a recipe, or
                to share your own recipes, please <a class="link green-text" href="{% url 'account_login' %}">log
                    in</a>. If have not created an account
                yet, then <a class="link green-text" href="{% url 'account_signup' %}">register your account</a>.
            </p>
            <hr class="mt-3 mb-5 text-light">
            {% endif %}
        </div>
    </div>
</div>

<div class="container text-center text-md-left mb-3">
    <div class="row text-center text-md-left g-3 card-row">

        {% for recipe in recipe_list %}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
            <div class="card h-100">
                {% if "placeholder" in recipe.featured_image.url %}
                {% load static %}
                <img class="card-img-top recipe-image" src="{% static 'media/site_imgs/knife-fork.jpg' %}"
                    alt="Knife and Fork">
                {% else %}
                <img class="card-img-top recipe-image" src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Serves: {{ recipe.serves }}</li>
                    <li class="list-group-item">Prep: {{ recipe.prep_time }} min</li>
                    <li class="list-group-item">Cook: {{ recipe.cook_time }} min</li>
                    <li class="list-group-item"><i class="fa-solid fa-heart"></i> {{ recipe.amount_of_likes }}
                    </li>
                </ul>
                <div class="card-footer">
                    <a href="{% url 'recipe_detail' recipe.slug  %}" class="btn green-btn">Go to
                        Recipe</a>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="row mt-4">
        {% if is_paginated %}
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page_link green-text">&laquo;
                        PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page_link green-text">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}
