{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Page Title -->
{% block title %}
<title>Student Rations - Home</title>
{% endblock %}


<!-- Main Content -->
{% block content %}
<div class="container justify-content-center mt-3 mb-3">
    <div class="row text-center">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 text-center">
            {% if "placeholder" in recipe.featured_image.url %}
            <img src="{% static 'media/site_imgs/knife-fork.jpg' %}" alt="Knife and Fork" id="recipe-image">
            {% else %}
            <img id="recipe-image" src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 text-start text-light mx-auto">
            <h1 class="green-text">{{ recipe.title }}</h1>

            <small>Created by: {{ recipe.author }} on {{ recipe.created_on }}</small>
            <hr class="mx-auto mt-3 mb-3 text-light">
            <h3 class="green-text">Ingredients</h3>
            {{ recipe.ingredients|safe }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-light">
            <h3 class="green-text">Method</h3>
            {{ recipe.directions|safe }}
        </div>
    </div>
</div>
<div class="container text-light">
    <div class="row">
        <hr class="text-light">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">

        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
